body {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}
